* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#player-board,
#computer-board {
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-template-rows: repeat(10, 32px);
    margin: 20px;
}

.square {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    box-sizing: border-box;
}

.ship {
    background-color: gray;
}

.hit {
    background-color: red;
}

.miss {
    background-color: lightblue;
}